* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
 }
 
body {
     background:black;
     font-size: 20px;
    }

.container {
        width: 90%;
        height: 400px;
        margin: 18% auto;
        background: #0D0D14;
        border-radius: 5px;
        position: relative;
        justify-content: center;
        align-items: center;
        display: flex;
     
        form {
            
            width: 85%;
            position: absolute;
            top: 5em;
            left: 1.8em;
            font-size: 0.8em; 
        
        label {
            color: #767896;
            font-size: 0.8em;
        }
        input {
            width: 100%;
            height: 28px;
            margin-bottom: 10px;
            border-radius: 2px;
            border: 1px solid #584E61;
            outline: none;
            background: transparent;
            
        }
        }


    h3 {
        text-align: center;
        margin-bottom: 2em;
        font-size: 1.4em;
        color:#767896;
    }

    .button-box {
        width: 100%;
        margin: 1.5em auto;
        text-align: center;

        button{
            cursor: pointer;
            width: 110px;
            height: 35px;
            margin: 0 0.5em;
            background: #BC3756;
            border-radius: 3px;
            border: none;
            color: #fff;
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19) ;
            transition: .5s;

        &:hover{
            background: none;
            color: #fff;
            border: 1px solid #fff;
            

        }
        
    }
}
}